@use "./utils/outline.scss";



.sections {
  justify-content: center;
  width: 100%;
  margin: 1.25rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
}

#cv {
  .divider {
    transform: rotate(0);
    height: 90%;
    top: 5%;
    border-left: 1px solid white;
  }
}
.bg {
  $bg-image: #fff;
  $bg-image-opacity: 1;
  position: relative;
  isolation: isolate; /* NUEVO */
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    background: $bg-image;
    opacity: $bg-image-opacity;
    inset: 0; /* NUEVO */
    background-size: contain;
  }
}


/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.r-content {
  width: 90%;
  display: grid;
  grid-template-columns: minmax(auto, 60%) 40%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0 50px;
  h2 {
    color: white;
  }
  .button {
    font-size: 1.25rem;
    color: #f3faf9;
    text-decoration: none;
    background-color: #3fb1a6;
    padding: 10px 30px;
    &:hover {
      color: black;
    }
  }
  .icon {
    img {
      width: 50px;
      height: 20px;
      transform: scale(1.2);
    }
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                     HEY                                    */
/* ══════════════════════════════════════════════════════════════════════════ */
#hey span {
  color: #3fb1a6;
  font-size: 5rem;
}
#hey {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  h2 {
    display: block;
    color: #333;
    font-size: 3.5rem;
  }
  p {
    font-size: 3rem;
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ABOUT                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  .icon {
    width: 60px;
    height: 60px;
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    STACK                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
#stack {
}
