@use "./utils/inner-border" as border;
.footer {
  background-color: #333;
  /*   background-image: url(/m.portflio.netify/assets/img/bg/bg_st.png); */
  display: block;
  padding: 20px;
}
.footer.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  p {
    color: #fff;
    align-self: center;
  }
}
#icons {
  display: flex;
  gap: 10px;
  .icon svg {
    height: 100%;
    align-self: center;
    display: block;
  }
}
