@use "./utils/inner-border" as border;

.head.grid {
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 20px;
}

.boxes-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 220px);
  justify-items: center;
  align-items: center;
  gap: 0;
  margin-bottom: 3.125rem;
  .item-g {
    width: 100%;
  }
}

.item-g {
  position: relative;
  width: 99%;
  height: 220px;
  overflow: hidden;
  @include border.inner-border(rgba(4, 255, 192, 0.651), 8px);
  transition: all 1s;
  &:hover > a > img {
    transform: scale(1.05);
  }
}
