@use "./utils/inner-border" as border;

#wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.sections {
  width: 98%;
  margin: 1.25rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
}

.item{
  position: relative;
  width: 99%;
  height: 220px;
  overflow: hidden;
  @include border.inner-border(rgba(4, 255, 192, 0.651), 8px);
  transition: all 1s;
  &:hover > a > img {
    transform: scale(1.05);
  }
}
