@use "./utils/bg.scss" as background;
@use "./utils/outline.scss";

.sections {
  justify-content: center;
  width: 100%;
  margin: 1.25rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  img {
    display: block;
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
}

.item.bg {
  @include background.section-bg(#fff);
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.content {
  width: 90%;
  display: grid;
  grid-template-columns: minmax(auto, 60%) 40%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0 50px;
  h2 {
    color: white;
  }
  .button {
    font-size: 1.25rem;
    color: #f3faf9;
    text-decoration: none;
    background-color: #3fb1a6;
    padding: 10px 30px;
    &:hover {
      color: black;
    }
  }
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ICONS                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.icon {
  &:hover {
    transform: scale(1.1);
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                     HEY                                    */
/* ══════════════════════════════════════════════════════════════════════════ */
@mixin section-title($text-color) {
  color: $text-color;
  font-size: 3.5rem;
}
.hey span {
  color: #3fb1a6;
  font-size: 5rem;
}
.hey {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  .section-title {
    @include section-title(#000);
  }
  #sub {
    font-size: 3rem;
  }
  #desc {
    font-size: 1.875rem;
    margin-top: 3.125rem;
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ABOUT                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    LOGOS                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
  .icon {
    width: 60px;
    height: 60px;
  }
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    STACK                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.item-b.bg {
  @include background.section-bg(#000);
}
.item-b .hey > .section-title {
  color: #fff;
}

.ham .line {
  margin: 10px;
  background-color: #3fb1a6;
  height: 3px;
  border: 0;
}
/* ══════════════════════════════════════════════════════════════════════════ */
/*                                   CONTACT                                  */
/* ══════════════════════════════════════════════════════════════════════════ */
.section-title.contact {
  @include section-title(#000);
  justify-self: flex-start;
  margin-top: 40px;
}
.item.c {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#contact {
  text-align: center;
  height: 150px;
  p {
    font-size: 1.5625rem;
    padding: 10px 0;
  }
  #mail {
    color: #000;
    text-decoration: none;
    p {
      border-bottom: 1px solid #ccc;
    }
  }
  #whatsapp {
    text-decoration: none;
    color: #fff;
    p {
      margin-top: 10px;
      background: linear-gradient(90deg, #31b39b, #74ce85);
      border-radius: 30px;
      transition: all 0.5s;
      &:hover {
        background: #fff;
        color: #000;
        border: 1px solid #a2efe3;
      }
    }
  }
}
