@charset "UTF-8";
:root,
* {
  font-family: "Chakra Petch", "sans-serif";
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
}

#logo-header {
  text-align: center;
}
#logo-header #logo {
  border-radius: 100%;
}

.menu-section.sticky {
  top: 0;
  position: sticky;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.918);
  border-bottom: 2px solid rgb(223, 222, 222);
  box-shadow: 0 0.1px 1px 0.1px rgba(238, 238, 238, 0.8352941176);
}

.menu-section {
  height: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}
.menu-section .red-badge {
  color: red;
}
.menu-section .menu {
  display: flex;
  padding-right: 50px;
  list-style: none;
  align-content: center;
  width: fit-content;
  height: inherit;
}
.menu-section .menu li {
  text-align: center;
  position: relative;
  margin: 0 1.25rem;
  align-self: center;
  cursor: pointer;
}
.menu-section .menu li:hover {
  background: linear-gradient(transparent 60%, rgb(4, 217, 255) 60%);
}
.menu-section .menu li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #333;
  height: 0.0625rem;
  width: 100%;
}
.menu-section:nth-of-type(1) .menu li:hover::after {
  left: 0;
  top: -0.625rem;
}

#recent p {
  text-align: center;
}
#recent p a {
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.line {
  border: 2px solid #333;
  border: 10 solid #333;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

.footer {
  background-color: #eee;
  display: block;
  padding: 20px;
}

.footer.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer.container p {
  color: #333;
  align-self: center;
}

#icons {
  display: flex;
  gap: 10px;
}
#icons .icon svg {
  height: 100%;
  align-self: center;
  display: block;
}

.head.grid {
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 20px;
}

.boxes-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 220px);
  justify-items: center;
  align-items: center;
  gap: 0;
  margin-bottom: 3.125rem;
}
.boxes-container .item-g {
  width: 100%;
}

.item-g {
  position: relative;
  width: 99%;
  height: 220px;
  overflow: hidden;
  transition: all 1s;
}
.item-g:hover::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 8px solid rgba(4, 255, 192, 0.651);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-g:hover > a > img {
  transform: scale(1.05);
}

.outline {
  position: relative;
}
.outline::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 99%;
  height: 10%;
  background-color: #a2efe3;
  z-index: -1;
}
.outline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 95%;
  width: 10px;
  background-color: #a2efe3;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                               INNER AND OUTER                              */
/* ══════════════════════════════════════════════════════════════════════════ */
.item {
  width: 99%;
  height: 500px;
  overflow: hidden;
  border: 1px solid #a2efe3;
}

.stack {
  height: 300px;
}

.sections.stack {
  height: 310px;
}

.sections {
  height: 510px;
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.sections {
  justify-content: center;
  width: 100%;
  margin: 1.25rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sections img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

#cv .divider {
  transform: rotate(0);
  height: 90%;
  top: 5%;
  border-left: 1px solid white;
}

.bg {
  position: relative;
  isolation: isolate; /* NUEVO */
}
.bg::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #fff;
  opacity: 1;
  inset: 0; /* NUEVO */
  background-size: contain;
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.r-content {
  width: 90%;
  display: grid;
  grid-template-columns: minmax(auto, 60%) 40%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0 50px;
}
.r-content h2 {
  color: white;
}
.r-content .button {
  font-size: 1.25rem;
  color: #f3faf9;
  text-decoration: none;
  background-color: #3fb1a6;
  padding: 10px 30px;
}
.r-content .button:hover {
  color: black;
}
.r-content .icon img {
  width: 50px;
  height: 20px;
  transform: scale(1.2);
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                     HEY                                    */
/* ══════════════════════════════════════════════════════════════════════════ */
#hey span {
  color: #3fb1a6;
  font-size: 5rem;
}

#hey {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#hey h2 {
  display: block;
  color: #333;
  font-size: 3.5rem;
}
#hey p {
  font-size: 3rem;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ABOUT                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.logos .icon {
  width: 60px;
  height: 60px;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    STACK                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*# sourceMappingURL=styles.css.map */
