@charset "UTF-8";
#wrapper {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}

#nav-portfolio {
  display: flex;
  align-items: center;
  margin: 60px 0;
  height: 80vh;
  background-color: #fff;
  border: 1px solid #a2efe3;
  z-index: 1;
  overflow: hidden;
}

#nav-stack {
  margin: 80px 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

:root,
* {
  font-family: "Chakra Petch", "sans-serif";
  margin: 0;
  padding: 0;
  font-size: 0.9375rem;
}

#logo-header {
  text-align: center;
}
#logo-header #logo {
  border-radius: 100%;
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.menu-section.sticky {
  top: 0px;
  position: sticky;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.918);
  border-bottom: 2px solid rgb(223, 222, 222);
  box-shadow: 0 0.1px 1px 0.1px rgba(238, 238, 238, 0.8352941176);
  transition: all 0.5s;
}

.menu-section {
  height: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}
.menu-section .red-badge {
  color: red;
}
.menu-section .menu {
  display: flex;
  padding-right: 50px;
  list-style: none;
  align-content: center;
  width: fit-content;
  height: inherit;
}
.menu-section .menu li {
  text-align: center;
  position: relative;
  margin: 0 1.25rem;
  align-self: center;
  cursor: pointer;
}
.menu-section .menu li a {
  color: #000;
  text-decoration: none;
}
.menu-section .menu li:hover {
  background: linear-gradient(transparent 60%, rgb(4, 217, 255) 60%);
}
.menu-section .menu li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #333;
  height: 0.0625rem;
  width: 100%;
}
.menu-section:nth-of-type(1) .menu li:hover::after {
  left: 0;
  top: -0.625rem;
}

#recent p {
  text-align: center;
}
#recent p a {
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
}

.line {
  border: 2px solid #333;
  border: 10 solid #333;
}

.outline {
  position: relative;
}
.outline::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 99%;
  height: 2%;
  background-color: #a2efe3;
  z-index: -1;
}
.outline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 95%;
  width: 10px;
  background-color: #a2efe3;
  z-index: -1;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                               INNER AND OUTER                              */
/* ══════════════════════════════════════════════════════════════════════════ */
.item {
  width: 99%;
  height: 80vh;
  overflow: hidden;
  border: 1px solid #a2efe3;
}

.stack {
  height: 350px;
}

.sections.stack {
  height: 360px;
}

.sections {
  height: calc(80vh + 10px);
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.sections {
  justify-content: center;
  width: 100%;
  margin: 1.25rem auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sections img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.item.bg {
  position: relative;
  isolation: isolate; /* NUEVO */
}
.item.bg::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #fff;
  opacity: 1;
  inset: 0; /* NUEVO */
  background-size: contain;
}

/* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
.content {
  width: 90%;
  display: grid;
  grid-template-columns: minmax(auto, 60%) 40%;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 0 50px;
}
.content h2 {
  color: white;
}
.content .button {
  font-size: 1.25rem;
  color: #f3faf9;
  text-decoration: none;
  background-color: #3fb1a6;
  padding: 10px 30px;
}
.content .button:hover {
  color: black;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ICONS                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.icon:hover {
  transform: scale(1.1);
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                     HEY                                    */
/* ══════════════════════════════════════════════════════════════════════════ */
.hey span {
  color: #3fb1a6;
  font-size: 5rem;
}

.hey {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.hey .section-title {
  color: #000;
  font-size: 3.5rem;
}
.hey #sub {
  font-size: 3rem;
}
.hey #desc {
  font-size: 1.875rem;
  margin-top: 3.125rem;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    ABOUT                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    LOGOS                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0;
}
.logos .icon {
  width: 60px;
  height: 60px;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                    STACK                                   */
/* ══════════════════════════════════════════════════════════════════════════ */
.item-b.bg {
  position: relative;
  isolation: isolate; /* NUEVO */
}
.item-b.bg::before {
  position: absolute;
  content: "";
  z-index: -1;
  background: #000;
  opacity: 1;
  inset: 0; /* NUEVO */
  background-size: contain;
}

.item-b .hey > .section-title {
  color: #fff;
}

.ham .line {
  margin: 10px;
  background-color: #3fb1a6;
  height: 3px;
  border: 0;
}

/* ══════════════════════════════════════════════════════════════════════════ */
/*                                   CONTACT                                  */
/* ══════════════════════════════════════════════════════════════════════════ */
.section-title.contact {
  color: #000;
  font-size: 3.5rem;
  justify-self: flex-start;
  margin-top: 40px;
}

.item.c {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#contact {
  text-align: center;
  height: 150px;
}
#contact p {
  font-size: 1.5625rem;
  padding: 10px 0;
}
#contact #mail {
  color: #000;
  text-decoration: none;
}
#contact #mail p {
  border-bottom: 1px solid #ccc;
}
#contact #whatsapp {
  text-decoration: none;
  color: #fff;
}
#contact #whatsapp p {
  margin-top: 10px;
  background: linear-gradient(90deg, #31b39b, #74ce85);
  border-radius: 30px;
  transition: all 0.5s;
}
#contact #whatsapp p:hover {
  background: #fff;
  color: #000;
  border: 1px solid #a2efe3;
}

.head.grid {
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 20px;
}

.boxes-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 220px);
  justify-items: center;
  align-items: center;
  gap: 0;
}
.boxes-container .item-g {
  width: 100%;
}

.item-g {
  position: relative;
  width: 99%;
  height: 220px;
  overflow: hidden;
  transition: all 1s;
}
.item-g:hover::after {
  box-sizing: border-box;
  content: "";
  position: absolute;
  border: 8px solid rgba(4, 255, 192, 0.651);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-g:hover > a > img {
  transform: scale(1.05);
}

/* fixes a tag being behind inner border */
.link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.footer {
  background-color: #333;
  /*   background-image: url(/m.portflio.netify/assets/img/bg/bg_st.png); */
  display: block;
  padding: 20px;
}

.footer.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer.container p {
  color: #fff;
  align-self: center;
}

#icons {
  display: flex;
  gap: 10px;
}
#icons .icon svg {
  height: 100%;
  align-self: center;
  display: block;
}

/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 330px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .ham .section-title,
  .section-title.contact {
    font-size: 35px;
  }
  .logos .icon {
    width: 30px;
    height: 30px;
  }
  .menu li a {
    font-size: 10px;
  }
  .menu-section .menu {
    padding-right: 0;
  }
  /* ════════════════════════════════════════════════════════════════════════ */
  /*                            grid portfolio part                           */
  /* ════════════════════════════════════════════════════════════════════════ */
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
  .boxes-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .item-g {
    height: 180px;
  }
}
@media only screen and (min-width: 331px) and (max-width: 382px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .ham .section-title,
  .section-title.contact {
    font-size: 35px;
  }
  .logos .icon {
    width: 35px;
    height: 35px;
  }
  .menu li a {
    font-size: 10px;
  }
  .menu-section .menu {
    margin: 0 auto;
  }
  /* ════════════════════════════════════════════════════════════════════════ */
  /*                            grid portfolio part                           */
  /* ════════════════════════════════════════════════════════════════════════ */
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
  .boxes-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
  }
  .boxes-container .item-g {
    width: 100%;
  }
  .boxes-container .item-g img {
    width: 150px;
    height: fit-content;
  }
  /* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
}
@media only screen and (min-width: 383px) and (max-width: 479px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .ham .section-title,
  .section-title.contact {
    font-size: 35px;
  }
  .logos .icon {
    width: 40px;
    height: 40px;
  }
  .menu li a {
    font-size: 13px;
  }
  .menu-section .menu {
    margin: 0 auto;
  }
  /* ════════════════════════════════════════════════════════════════════════ */
  /*                            grid portfolio part                           */
  /* ════════════════════════════════════════════════════════════════════════ */
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
  .boxes-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
  }
  .item-g {
    width: 100%;
  }
  .item-g img {
    width: 150px;
    height: fit-content;
  }
  /* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
}
/* MOBILE LANDSCAPE */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .ham .section-title {
    font-size: 40px;
  }
  .logos .icon {
    width: 50px;
    height: 50px;
  }
  /* ════════════════════════════════════════════════════════════════════════ */
  /*                            grid portfolio part                           */
  /* ════════════════════════════════════════════════════════════════════════ */
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
  .boxes-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 150px);
  }
  .item-g {
    width: 100%;
  }
  .item-g img {
    width: 150px;
    height: fit-content;
  }
  /* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
}
/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  /* ════════════════════════════════════════════════════════════════════════ */
  /*                            grid portfolio part                           */
  /* ════════════════════════════════════════════════════════════════════════ */
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
  .boxes-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  /* ┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉┉ */
}
/* SMALL DESKTOP */
@media only screen and (min-width: 980px) and (max-width: 1023px) {
  #nav-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #a2efe3;
    z-index: 0;
    overflow: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
