#wrapper {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 6.25rem;
}
#nav-portfolio {
  display: flex;
  align-items: center;
  margin: 60px 0;
  height: 80vh;
}
#nav-stack{
  margin: 80px 0;
}